<!DOCTYPE html>
<html>
<head>
    <meta charset="zh-CN">
    <!-- bootstrap 移动响应式布局 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>患者标签化模拟系统</title>
    <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- bootstrap  -->
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <h2>患者标签-调试界面</h2>
    <hr>
    <div id="resultdiv" style="float:right;"></div>
    <div id="simulateForm" style="margin:8px;">
        <h4>基本情况</h4>
        性别：<select id="gender">
                <option>男</option>
                <option>女</option>
            </select><br>
        年龄：<input type="number" id="age" min="1" max="150" value="25"/><br>
        身高：<input type="number" id="height" min="0" max="3" step="0.01" value="1.70"/>m<br>
        体重：<input type="number" id="weight" min="0" max="200" step="0.01" value="70"/>kg<br>
        腰围：<input type="number" id="waistline" min="0" max="200" step="0.01" value="80"/>cm<br>
        教育程度：<select id="education">
                <option>本科及以上</option>
                <option>高中</option>
                <option>初中</option>
                <option>小学</option>
                <option>无</option>
            </select><br>
        婚姻：<select id="marriage">
                <option>未婚</option>
                <option>已婚</option>
                <option>离异</option>
            </select><br>
        职业：<select id="occupation">
                <option>无</option>
                <option>学生</option>
                <option>工作</option>
            </select><br>
        环境：<select id="surrounding">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>
        口腔状况：<select id="mouth">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>
        是否残疾：<select id="disable">
                <option>无残疾</option>
                <option>有残疾</option>
            </select><br>
        <h4>血压血糖</h4>
        舒张压：<input type="number" id="diastolic" min="0" max="200" step="1" value="120"/>mmHg<br>
        收缩压：<input type="number" id="systolic" min="0" max="200" step="1" value="75"/>mmHg<br>
        血糖含量：<input type="number" id="glucose" min="0" max="30" step="0.1" value="6.0"/>mmol/L<br>
        <h4>调查</h4>
        吸烟量：<input type="number" id="smoke" min="0"step="1" value="0"/>支<br>
        饮酒量：<input type="number" id="drink" min="0" step="100" value="100"/>ml<br>
        饮食情况：<select id="diet">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>
        运动情况：<select id="movement">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>
        诊断结果：<input type="text" id="treatment" value="无"/><br>
        遗传病：<select id="heredopathia">
                <option>无</option>
                <option>有</option>
            </select><br>
        暴露史：<select id="exposure">
                <option>无</option>
                <option>有</option>
            </select><br>
        影像检查结果：<input type="text" id="imageology" value="无"/><br>
        处方：<input type="text" id="medicine" value="无"/><br>
        <button class="btn btn-primary" id="update_btn" onclick="updateTags()" style="margin:8px;">更新用户标签</button>
    </div>


    <!-- ajax -->
    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        });
        function updateTags(){
            // 异步ajax，返回标签显示
            $.ajax({
                url:"/gettag/",
                data:{
                    1:$('#gender').val(),
                    2:$('#age').val(),
                    3:$('#height').val(),
                    4:$('#weight').val(),
                    5:$('#waistline').val(),
                    
                    6:$('#education').val(),
                    7:$('#marriage').val(),
                    8:$('#occupation').val(),
                    9:$('#surrounding').val(),
                    10:$('#diastolic').val(),

                    11:$('#systolic').val(),
                    12:$('#glucose').val(),
                    13:$('#mouth').val(),
                    14:$('#disable').val(),
                    15:$('#smoke').val(),

                    16:$('#drink').val(),
                    17:$('#diet').val(),
                    18:$('#movement').val(),
                    19:$('#treatment').val(),
                    20:$('#heredopathia').val(),

                    21:$('#exposure').val(),
                    22:$('#imageology').val(),
                    23:$('#medicine').val(),
                    
                },
                dataType:'json',
                type:'POST',
                async:true,
                success: function(jsondata){
                    $("#resultdiv").empty()
                    var resulttext = ""
                    for(key in jsondata){
                        if(jsondata[key] == ""){continue}
                        $("#resultdiv").append($("<p></p>").text(jsondata[key]))
                    }
                },
                error:function(data){ alert('error')}
            })
        }
    </script>
</body>
</html>