<!DOCTYPE html>
<html>
<head>
    <meta charset="zh-CN">
    <!-- bootstrap 移动响应式布局 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>患者标签化模拟系统</title>
    <!-- jQuery -->
    {% load staticfiles %} 
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- bootstrap  -->
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <h2>患者标签-调试界面</h2>
    <hr>
    <div id="simulateForm" style="margin:8px;width:30%;float:left">
        <!-- {% csrf_token %} -->
        <h4>个人情况</h4>
        性别：<select id="gender" onchange="cc(this[selectedIndex].value);">
                <option>男</option>
                <option>女</option>
            </select><br>
        年龄：<input type="number" id="age" min="1" max="150" value="25"/><br>
        身高：<input type="number" id="height" min="0" max="3" step="0.01" value="1.70"/>m<br>
        体重：<input type="number" id="weight" min="0" max="200" step="0.01" value="70"/>kg<br>
        腰围：<input type="number" id="waistline" min="0" max="200" step="0.1" value="65"/>cm<br>
        教育程度：<select id="education">
                <option>本科及以上</option>
                <option>高中</option>
                <option>初中</option>
                <option>小学</option>
                <option>无</option>
            </select><br>
        婚姻：<select id="marriage">
                <option>未婚</option>
                <option>已婚</option>
                <option>离异</option>
            </select><br>
        职业：<select id="occupation">
                <option>无危险</option>
                <option>轻危</option>
                <option>高危</option>
             </select><br>
        生活环境：<select id="surrounding">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>
        心理：<select id="psychology">
                <option>紧张</option>
                <option>焦虑</option>
                <option>消极</option>
             </select><br>
        <!-- 此处应有选择是否怀孕 -->
        <!-- checkbox -->
        <p id="pregnant-input" style = "display:none;">孕期：<input type="number" id="pregnant" min="-1" max="43" step="1" value="-1"/>周</p>
        <h4>检查检验</h4>
        舒张压：<input type="number" id="diastolic" min="0" max="200" step="1" value="120"/>mmHg<br>
        收缩压：<input type="number" id="systolic" min="0" max="200" step="1" value="75"/>mmHg<br>
        血糖：<input type="number" id="glucose" min="0" max="30" step="0.1" value="6.0"/>mmol/L<br>
        <strong>血脂</strong><br>
        总胆固醇（TC）:<input type="number" id="lipidtc" min="0" max="100" step="0.01" value="4.12"/>mmol/L<br>
        甘油三酯（TG）:<input type="number" id="lipidtg" min="0" max="100" step="0.01" value="1.10"/>mmol/L<br>
        高密度脂蛋白（HDL）:<input type="number" id="lipidhdl" min="0" max="100" step="0.01" value="1.32"/>mmol/L<br>
        低密度脂蛋白（LDL）:<input type="number" id="lipidldl" min="0" max="100" step="0.01" value="2.13"/>mmol/L<br>
        <br>
        口腔状况：<select id="mouth">
            <option>良好</option>
            <option>一般</option>
            <option>较差</option>
        </select><br>
        眼部状况：<select id="mouth">
            <option>无</option>
            <option>视网膜病变</option>
            <option>晶状体异常</option>
        </select><br>
        身体缺陷：<select id="disable">
            <option>无</option>
            <option>有残疾</option>
        </select><br>
        皮肤：<select id="skin">
            <option>无</option>
            <option>糖尿病足</option>
            <option>慢性皮肤病</option> 
        </select><br>
        心脏：<select id="heart">
            <option>无</option>
            <option>心脏病</option>
            <option>血管病变</option>
            <option>肺源性心脏病</option>
        </select><br>
        肾脏：<select id="kidney">
            <option>无</option>
            <option>肾炎</option>
            <option>肾功能不全</option>
            <option>肾功能衰竭</option>
        </select><br>

        <h4>生活调查</h4>
        每日吸烟量：<input type="number" id="smoke" min="0"step="1" value="0"/>支<br>
        每日饮酒量：<input type="number" id="drink" min="0" step="100" value="100"/>ml<br>
        饮食情况：<select id="diet">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>
        运动情况：<select id="movement">
                <option>良好</option>
                <option>一般</option>
                <option>较差</option>
            </select><br>

        <h4>院内记录</h4>
        高血压：<select id="hypertension">
            <option>无</option>
            <option>高血压</option>
        </select><br>
        糖尿病<select id="diabetes">
            <option>无</option>
            <option>糖尿病</option>
        </select><br>
        慢阻肺：<select id="copd">
            <option>无</option>
            <option>慢阻肺</option>
        </select><br>
        脑卒中：<select id="stroke">
            <option>无</option>
            <option>脑卒中</option>
        </select><br>
        高血脂：<select id="hyperlipemia">
            <option>无</option>
            <option>高血脂</option>
        </select><br>
        家族疾病史：<select id="familydisease">
                <option>无</option>
                <option>早发心血管疾病家族史</option>
                <option>家族遗传糖尿病史</option>
            </select><br>
        暴露史(最近一个月是否曾到下列环境？):
            <select id="exposure">
                <option>无</option>
                <option>流行病区域</option>
                <option>环境污染</option>
            </select><br>
        影像检查结果：<input type="text" id="imageology" value="无"/><br>
        处方：<input type="text" id="medicine" value="无"/><br>
        <button class="btn btn-primary" id="update_btn" onclick="updateTags()" style="margin:8px;">更新用户标签</button>
    </div>
    <div id="resultdiv" style="width:40%;float:right;margin-right:10%"></div>

    <script>
        $(document).ready(function(){
            $('#pregnant-input').hide(); 
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        });
        function cc(val){
            if( val == "女"){
                $('#pregnant-input').show();
            }else{
                $('#pregnant-input').hide(); 
            }
        }
        function updateTags(){
            // 异步ajax，返回标签显示
            $.ajax({
                url:"/gettag/",
                data:{
                    'gender':$('#gender').val(),
                    'age':$('#age').val(),
                    'height':$('#height').val(),
                    'weight':$('#weight').val(),
                    'waistline':$('#waistline').val(),
                    'education':$('#education').val(),
                    
                    'marriage':$('#marriage').val(),
                    'occupation':$('#occupation').val(),
                    'surrounding':$('#surrounding').val(),
                    'psychology':$('#psychology').val(),
                    'pregnant':$('#pregnant').val(),

                    'diastolic':$('#diastolic').val(),
                    'systolic':$('#systolic').val(),
                    'glucose':$('#glucose').val(),
                    'lipidtc':$('#lipidtc').val(),
                    'lipidtg':$('#lipidtg').val(),
                    'lipidhdl':$('#lipidhdl').val(),
                    'lipidldl':$('#lipidldl').val(),

                    'mouth':$('#mouth').val(),
                    'eye':$('#eye').val(),
                    'disable':$('#disable').val(),
                    'skin':$('#skin').val(),
                    'heart':$('#heart').val(),
                    'kidney':$('#kidney').val(),

                    'smoke':$('#smoke').val(),
                    'drink':$('#drink').val(),
                    'diet':$('#diet').val(),
                    'movement':$('#movement').val(),

                    'diabetes':$('#diabetes').val(),
                    'copd':$('#copd').val(),
                    'stroke':$('#stroke').val(),
                    'hyperlipemia':$("#hyperlipemia").val(),
                    'hypertension':$("#hypertension").val(),

                    'familydisease':$('#familydisease').val(),
                    'exposure':$('#exposure').val(),
                    'imageology':$('#imageology').val(),
                    'medicine':$('#medicine').val(),
                },
                dataType:'json',
                type:'POST',
                async:true,
                success: function(jsondata){
                    $("#resultdiv").empty()
                    var resulttext = ""
                    for(key in jsondata){
                        var output = key + " " + jsondata[key];
                        // if(jsondata[key] == ""){continue}
                        $("#resultdiv").append($("<p></p>").text(output));
                    }
                },
                error:function(data){ alert('error')}
            })
        }

    </script>
</body>
</html>